.Breadcrumb {
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      color: inherit;
      a {
        text-decoration: none;
        color: inherit;

        &:after {
          font-family: 'Material Icons';
          content: 'chevron_right';
        }
      }
    }
  }
}