.u-container {
  max-width: 65rem;
  margin: 0 auto;
}

.u-ratio16of9 {
  @util aspect-ratio(16:9);
}

.u-ratio3of1 {
  @util aspect-ratio(3:1);
}

.u-ratio4of1 {
  @util aspect-ratio(4:1);
}

.u-ratio4of3 {
  @util aspect-ratio(4:3);
}

.u-ratio1of1 {
  @util aspect-ratio(1:1);
}

.u-shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.u-textShadow {
  text-shadow: 0 0 1px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.3);
}

.u-noMargin {
  margin: 0;
}

.u-marginTop0 {
  margin-top: 0;
}

.u-textLarge {
  @add-mixin modular-font-size 1;
}


.u-textSmall {
  @add-mixin modular-font-size -1;
}

.u-listUnstyled {
  list-style: none;
  padding-left: 0;
}

.u-listInline {
  list-style: none;
  padding-left: 0;
  li {
    margin: 0.125lh calc(var(--Grid-gutter-size)/4) 0.125lh 0;
    display: inline-block;
  }
}

.u-radius0 {
  border-radius: 0 !important;
}

.u-radius3 {
  border-radius: .5rem !important;
}

.u-radius4 {
  border-radius: 1rem !important;
}

.u-radius100 {
  border-radius: 100% !important;
}

.u-figureLeft {
  float: left;
  margin-left: -var(--Grid-gutter-size);
  margin-right: var(--Grid-gutter-size);
}

.u-measure {
  max-width: 30em;
}

/* Measure is limited to ~80 characters */
.u-measureWide {
  max-width: 34em;
}

/* Measure is limited to ~45 characters */
.u-measureNarrow {
  max-width: 20em;
}

.u-pv1 {
  padding-top: 1lh;
  padding-bottom: 1lh;
}

.u-mv1 {
  margin-top: 1lh;
  margin-bottom: 1lh;
}

.u-ph1 {
  padding-left: var(--Grid-gutter-size);
  padding-right: var(--Grid-gutter-size);
}

.u-skew3 {
  &:before{
    content: '';
    transform: skewY(-3deg);
    width: 100%;
    height: 3lh;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    transform-origin: left;
    background-color: inherit;
  }

  &:after {
    content: '';
    transform: skewY(-3deg);
    width: 100%;
    height: 3lh;
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    transform-origin: right;
    background-color: inherit;
  }
}

.u-bgPrimary {
  color: var(--Color-primary-text);
  background-color: var(--Color-primary);
}

.u-bgPrimaryLight {
  color: var(--Color-primary--light-text);
  background-color: var(--Color-primary--light);
}

.u-bgPrimaryDark {
  color: var(--Color-primary--dark-text);
  background-color: var(--Color-primary--dark);
}

.u-bgAccent {
  color: var(--Color-accent-text);
  background-color: var(--Color-accent);
}

.u-bgAccentLight {
  color: var(--Color-accent--light-text);
  background-color: var(--Color-accent--light);
}

.u-bgAccentDark {
  color: var(--Color-accent--dark-text);
  background-color: var(--Color-accent--dark);
}

.u-bgWhite {
  background-color: white;
  color: var(--palette-Black-Primary);
}

.u-bgGrey50 {
  background-color: var(--palette-Grey-50);
}

.u-bgGrey100 {
  background-color: var(--palette-Grey-100);
}

.u-bgGrey200 {
  background-color: var(--palette-Grey-200);
}

.u-bgGrey300 {
  background-color: var(--palette-Grey-300);
}
