extend layout.pug

block content
  .Section
    h1 A modular scale, like a musical scale, is a prearranged set of harmonious proportions.
    h2 A modular scale, like a musical scale, is a prearranged set of harmonious proportions.
    h3 A modular scale, like a musical scale, is a prearranged set of harmonious proportions.
    h4 A modular scale, like a musical scale, is a prearranged set of harmonious proportions.
    h5 A modular scale, like a musical scale, is a prearranged set of harmonious proportions.
    h6 A modular scale, like a musical scale, is a prearranged set of harmonious proportions.
  .Section
    h2.Section-title Base
    h3.Section-subtitle Form
    form
      fieldset
        legend Input fields
        label(for='input__text') Text Input
        input#input__text(type='text', placeholder='Text Input')

        label(for='input__password') Password
        input#input__password(type='password', placeholder='Type your Password')

        label(for='input__webaddress') Web Address
        input#input__webaddress(type='url', placeholder='http://yoursite.com')

        label(for='input__emailaddress') Email Address
        input#input__emailaddress(type='email', placeholder='name@email.com')

        label(for='input__phone') Phone Number
        input#input__phone(type='tel', placeholder='(999) 999-9999')

        label(for='input__search') Search
        input#input__search(type='search', placeholder='Enter Search Term')

        label(for='input__text2') Number Input
        input#input__text2(type='number', placeholder='Enter a Number')

        label(for='input__text3') Error
        input#input__text3(type='text', placeholder='Text Input')

        label(for='input__text4') Valid
        input#input__text4(type='text', placeholder='Text Input')

        .Form-item
          label Form Item
          input(type='text')
          .Form-item-hint A modular scale, like a musical scale, is a prearranged set of harmonious proportions.

        .Form-item.is-error
          label Form Item - is error
          input(type='text')
          .Form-item-hint A modular scale, like a musical scale, is a prearranged set of harmonious proportions.


      fieldset
        legend Select menus
        label(for='select') Select
        select#select
          optgroup(label='Option Group')
            option Option One
            option Option Two
            option Option Three
        label(for='select__multiple') Multiple
        select#select__multiple(multiple='multiple', size='4')
          optgroup(label='Option Group')
            option Option One
            option Option Two
            option Option Three
      fieldset
        legend Checkboxes
        input#checkbox1(type='checkbox', checked='checked')
        label(for='checkbox1') Choice 1
        input#checkbox2(type='checkbox')
        label(for='checkbox2') Choice 2
        input#checkbox3(type='checkbox')
        label(for='checkbox3') Choice 3
        ul.u-listUnstyled
          li
            input#checkbox4(type='checkbox', checked='checked')
            label(for='checkbox4') Choice 1
          li
            input#checkbox5(type='checkbox')
            label(for='checkbox5') Choice 2
          li
            input#checkbox6(type='checkbox')
            label(for='checkbox6') Choice 3
      fieldset
        legend Radio buttons
        input#radio1(name='radio__a', type='radio', checked='checked')
        label(for='radio1') Option 1
        input#radio2(name='radio__a', type='radio')
        label(for='radio2') Option 2
        input#radio3(name='radio__a', type='radio')
        label(for='radio3') Option 3
        ul.u-listUnstyled
          li
            input#radio4(name='radio__b', type='radio', checked='checked')
            label(for='radio4') Option 1
          li
            input#radio5(name='radio__b', type='radio')
            label(for='radio5') Option 2
          li
            input#radio6(name='radio__b', type='radio')
            label(for='radio6') Option 3
      fieldset
        legend Textareas
        p
          label(for='textarea') Textarea
          textarea#textarea(rows='5', placeholder='Enter your message here')
      fieldset
        legend HTML5 inputs
        p
          label(for='ic') Color Input
          |  
          input#ic(type='color', value='#000000')
        p
          label(for='in') Number Input
          |  
          input#in(type='number', min='0', max='10', value='5')
        p
          label(for='ir') Range Input
          |  
          input#ir(type='range', value='10')
        p
          label(for='idd') Date Input
          |  
          input#idd(type='date', value='1970-01-01')
        p
          label(for='idm') Month Input
          |  
          input#idm(type='month', value='1970-01')
        p
          label(for='idw') Week Input
          |  
          input#idw(type='week', value='1970-W01')
        p
          label(for='idt') Datetime Input
          |  
          input#idt(type='datetime', value='1970-01-01T00:00:00Z')
        p
          label(for='idtl') Datetime-local Input
          |  
          input#idtl(type='datetime-local', value='1970-01-01T00:00')
      fieldset
        legend Action buttons
        p
          input(type='submit', value='Input')
          |  
          button(type='submit') Button
          |  
          input(type='reset', value='Reset')
          |  
          input(type='submit', value='Disabled', disabled='')


  .Section
    h2.Section-title Components
    h3.Section-subtitle Button
    a.Button(data-target="#modal" data-toggle="dialog")
      i.material-icons menu
      |  BUTTON
    .Button.Button--primary BUTTON
    .Button.Button--accent BUTTON
    .Button.Button--circle
      i.material-icons menu
    dialog#modal.Dialog
      h3.Dialog-title Title
      .Dialog-content A modular scale, like a musical scale, is a prearranged set of harmonious proportions.
      footer.Dialog-actions
        a.Button.js-close(href="") Close

  .Section.Section--grey
    h2.Section-title Components
    h3.Section-subtitle Card
    .Grid.Grid--withGutter
      .Grid-cell.u-sm-size1of2.u-md-size1of3
        .Card.u-shadow
          header.Card-header
            h2.Card-header-title Card header title
            h3.Card-header-subtitle Card header sub title
          figure.Card-media
            img(src='http://www.metmuseum.org/toah/images/h5/h5_JP1847.jpg')
          .Card-content
            | A modular scale, like a musical scale, is a prearranged set of harmonious proportions.
          footer.Card-actions
            .Button ACTION
            .Button.Button--accent ACTION
  .Section
    h2.Section-title Components
    h3.Section-subtitle Breadcrumbs
    nav.Breadcrumb
      ol
        li
          a(href="#") Home
          a(href="#") Category
          a(href="#") Project

  .Section.Section--primary
    h2.Section-title Section Title
    h3.Section-subtitle Section Sub-title
    .Section-lead A modular scale, like a musical scale, is a prearranged set of harmonious proportions.
    p Dopamine is in the cultural zeitgeist. Want to lose weight? Eat the Dopamine Diet. Want to dress happy? Try Dopamine Dressing. Want to be a Silicon Valley hi-tech entrepreneur genius? <a href="#">Boost your dopamine</a>. Want to feel constant pleasure? Stuff as much dopamine in your noggin as you can.
    p Craving that dopamine hit? Then check your phone. Read a story. Watch an advert. Or visualise something good happening.

