doctype html
html(lang="en")
  head
    title |pageTitle
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.7/dialog-polyfill.min.js')
  body
    .Layout
      aside#drawer.Layout-drawer
        .Navigation
          h3.Navigation-title Nav Title
          ul.Menu
            li.Menu-item
              a.Menu-item-link(href='#') Link
            li.Menu-item
              a.Menu-item-link(href='#') Link
            li.Menu-item
              a.Menu-item-link(href='#') Link

      .Layout-obfuscator(data-target='#drawer' data-toggle='drawer')
      header.Layout-header
        .Layout-header-row
          .Layout-header-drawerButton(data-target='#drawer' data-toggle='drawer')
            i.material-icons menu
          img.Layout-header-logo(src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/CSS.3.svg/730px-CSS.3.svg.png")
          .Layout-header-title
            .Layout-header-title-text WIIZMI POSTCSS
            .Layout-header-title-slogan Material Design Real Estate
        .Layout-header-row

          //- form.Form.Form--inline(action="#")
          //-   .Form-item.Form-item--inline.Form-item--floating
          //-     label
          //-       i.material-icons search
          //-     input(type='text', name='name', value='', tabindex='1' placeholder="Search...")
          //-     button.Button.Button--accent.u-hidden Search

          nav.Navigation
            ul.Menu.Menu--inline
              li.Menu-item
                a.Menu-item-link(href='#') Link
              li.Menu-item
                a.Menu-item-link(href='#') Link
              li.Menu-item
                a.Menu-item-link(href='#' data-toggle='dropdown' data-target="#menu-1") DropDown Link
                ul#menu-1.Menu.Menu--dropdown
                  li.Menu-item 
                    a.Menu-item-link(href="#") Menu Item
                  li.Menu-item
                    a.Menu-item-link(href="#") Menu Item
                  li.Menu-item
                    a.Menu-item-link(href="#") Menu Item
                    ul.Menu
                      li.Menu-item 
                        a.Menu-item-link(href="#") Menu Item
                      li.Menu-item
                        a.Menu-item-link(href="#") Menu Item
                        ul.Menu
                          li.Menu-item 
                            a.Menu-item-link(href="#") Menu Item
                          li.Menu-item
                            a.Menu-item-link(href="#") Menu Item

      main.Layout-content
         block content
      footer.Layout-footer
        | footer content     