.Tabs {
  &-bar {
    background-color: var(--palette-Grey-100);
    &-tab {
      display: inline-block;
      @add-mixin apply-side-rhythm-border bottom, 2px, 0.5;
      padding-top: vr(0.5)rem;
      padding-left: vr(1)rem;
      padding-right: vr(1)rem;
      text-decoration: none;
      border-color: transparent;

      &.is-active {
        border-color: var(--Color-accent);
      }
    }
  }

  &-panel {
    padding: vr(1)rem;
    display: none;

    &.is-active {
      display: block;
    }
  }
}