
.Button {
  font-family: var(--sans-serif);
  background-color: inherit;
  font-weight: bold;
  color: inherit;
  vertical-align: middle;
  border-color: transparent;
  border-radius: 3px;
  text-shadow: none;

  .material-icons {
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
  }

  & + & {
    margin-left: calc(var(--Grid-gutter-size)/2);
  }

  &.u-bgAccent:hover {
    background-color: color(var(--Color-accent) tint(10%));
  }

  &--sm {
    padding: var(--Button-padding--sm);
  }

  &--lg {
    /*@add-mixin modular-font-size 1;    */
    padding: var(--Button-padding--lg);
  }

  &--circle {
    width: 2lh;
    height: 2lh;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &.Button--sm {
      width: 1.5lh;
      height: 1.5lh;
    }
  }

  &--block {
    display: block;
    width: 100%;
    
    & + & {
      margin: 0.5lh 0;
    }
  }

  &[disabled] {
    opacity: 0.25;
    cursor: not-allowed;
  }
}