.Button {
  background-color: inherit;
  color: inherit;
  font-weight: bolder;
  text-transform: uppercase;
  vertical-align: middle;
  .material-icons {
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
  }

  &--lg {
    padding: calc(0.5lh - 1px) calc(var(--Grid-gutter-size) - 1px);
  }

  &--circle {
    width: 2lh;
    height: 2lh;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &--primary {
    background-color: var(--Color-primary);
    color: var(--Color-primary-text);
    border-color: var(--Color-primary);
  }

  &--accent {
    background-color: var(--Color-accent);
    color: var(--Color-accent-text);
    border-color: var(--Color-accent);
    &:hover {
      background-color: var(--Color-accent);
      color: var(--Color-accent-text);
    } 
  }

  & + & {
    margin-left: calc(var(--Grid-gutter-size)/2);
  }
}