
.Button {
  background-color: inherit;
  color: inherit;
  vertical-align: middle;

  .material-icons {
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
  }

  &--sm {
    @apply --font-size--1;
    padding: var(--Button-padding--sm);
  }

  &--lg {
    @apply --font-size-1;
    padding: var(--Button-padding--lg);
  }

  &--circle {
    width: 2lh;
    height: 2lh;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &.Button--sm {
      width: 1.5lh;
      height: 1.5lh;
    }

  }

  &[disabled] {
    opacity: 0.25;
    cursor: not-allowed;
  }

  &--primary {
    background-color: var(--Color-primary);
    color: var(--Color-primary-text);
    border-color: var(--Color-primary);
  }

  &--accent {
    background-color: var(--Color-accent);
    color: var(--Color-accent-text);
    border-color: var(--Color-accent);
    &:hover {
      background-color: var(--Color-accent);
      color: var(--Color-accent-text);
    } 
  }

  & + & {
    margin-left: calc(var(--Grid-gutter-size)/2);
  }
}