@media (--sm-viewport) {
  .Card--horizontal {
    display: flex;

    .Card-media {
      flex-basis: 50%;
      flex-shrink: 0.5;

      &:after{
        padding-bottom: 100%;
      }

      img {
      }

    }

    .Card-stack {
      flex-grow: 1;
      flex-direction: column;
    }

  }
}
