@media (--sm-viewport) {
  .Card--horizontal {
    display: grid;
    grid-column-gap: var(--Grid-gutter-size);
    grid-template-columns: 35% auto;
    .Card-media {
      grid-column: 1;
      grid-row: 1 / 4;
    }

    .Card-header,
    .Card-content,
    .Card-actions {
      grid-column: 2;
    }

    .Card-header {
      grid-row: 1;
    }
    .Card-content {
      grid-row: 2;
    }

    .Card-actions {
      grid-row: 3;
    }
    
  }
}
