.Card {
  background-color: var(--palette-White);
  background-position: center center;
  background-size: cover;
  color: var(--palette-White-Primary-Primary);
  flex-basis: 100%;
  border-radius: 3px;
  
  &-media {
    margin: 0;
    @util aspect-ratio(16:9);

    img {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      object-fit: cover;
    }
  }
  
  &-header {
    padding: 1lh var(--Grid-gutter-size) 0.5lh;

    &-title {
      @add-mixin modular-font-size 1;
      font-weight: bolder;
      margin: 0;
      a {
        color: inherit;
        text-decoration: none;
      }
    }

    &-subtitle {
      @add-mixin modular-font-size 0;

      font-weight: bolder;
      margin: 0;
      opacity: .85;
    }
  }


  &-content {
    padding: 0.5lh var(--Grid-gutter-size) 1lh;
    flex-grow: 1;
  }

  &-actions {
    padding: 0.25lh calc(var(--Grid-gutter-size)/2);
  }

}
