.Form {
  margin: 0;

  &-item {
    margin: 1lh 0;
    
    &-hint {
      @apply --font-size--1;
      color: var(--palette-Black-Hint);
    }
  }

  &-item.is-error {
    border-left-width: 3px;
    border-left-style: solid;
    border-color: var(--palette-Red-A200);
    padding-left: calc(var(--Grid-gutter-size) - 3px);

    .Form-item-hint {
      color: var(--palette-Red-A200);
    }
  }

  &-actions {
  }
}