.Form {
  margin: 0;

  &-item {
    margin: 1lh 0;
    
    &-hint {
      @add-mixin modular-font-size -1;
      color: var(--palette-Black-Hint);
      margin: 0;
    }

    &--inline {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      input {
        width: auto;
      }
      label {
        margin: 0 1rem 0 0;
      }
      .Form-item-hint {
        flex-basis: 100%;
      }
    }

    &--lg {
      input {
        padding: var(--Input-padding--lg);
      }
    }
  }

  &-item.is-error {
    border-left-width: 3px;
    border-left-style: solid;
    border-color: var(--palette-Red-A200);
    padding-left: calc(var(--Grid-gutter-size) - 3px);

    .Form-item-hint {
      color: var(--palette-Red-A200);
    }
  }

  &-actions {
    margin: 1lh 0;
  }
}

.Form--inline {
  display: flex;

  label {
    margin-top: 0;
  }
}