html {
  height: 100%;
}

body {
  min-height: 100%;
}

.Layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  position: relative;

  &-drawer {
    position: fixed;
    z-index: 400;
    top: 0;
    left: 0;
    min-width: 75%;
    height: 100%;
    background-color: white;
    padding: 1lh var(--Grid-gutter-size);
    transform: translateX(-100%);
    transform-style: preserve-3d;
    transition: transform 0.5s ease-out;

    &.is-active {
      transform: translateX(0);
      overflow-y: scroll;

      & + .Layout-obfuscator {
        background-color: rgba(0,0,0,.25);
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
      }
    }

  }

  &-obfuscator {
    position: absolute;
    z-index: 300;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &-header {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-direction: column;

    &-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      padding: 0 var(--Grid-gutter-size);
    }

    &-logo{
      margin: 0.5lh var(--Grid-gutter-size) 0.5lh 0;
      height: 2lh;
    }

    &-title {  
      margin: 0.5lh 0;
      display: flex;
      flex-direction: column;

      &-text {
        @add-mixin modular-font-size 1;
        font-weight: bold;
        margin: 0;
        color: inherit;
        text-decoration: none;
      }

      &-slogan {
        @add-mixin modular-font-size 0;

        font-weight: lighter;
        margin: 0;
        color: var(--palette-Black-Secondary);
      }
    }

    &-drawerButton {
      cursor: pointer;
      align-self: center;
    }

    &--fixed {
      position: fixed;
      z-index: 500;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &-content {
   flex: 1 0 auto;
  }

  &-footer {
    flex-shrink: 0;
    &-row {
      padding: 1lh var(--Grid-gutter-size);
    }
  }
}