.Menu {
  margin: 0;
  padding: 0;
  list-style: none;

  &-item {
    position: relative;

    padding: 0.25lh 0 calc(0.25lh - 1px) 0;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--palette-Black-Dividers);

    &:hover,
    &:focus {
      > .Menu {
        display: block;
      }
    }

    a {
      line-height: 1lh;

      padding: 0.25lh 0;

      display: block;
      text-decoration: none;
      color: inherit;

      &:hover {
        color: var(--Color-accent);
      }

      &:not(:last-child){
        display: flex;
        &:after {
          content: 'keyboard_arrow_down';
        }
      }
    }

    .Menu {
      padding-left: calc(var(--Grid-gutter-size)/2);
      display: none;

      .Menu-item {
        padding: 0;
        border: 0;

        a {
          font-style: ms(-1);
        }
      }
    }
  }
}

.Menu--inline {
  display: flex;
  flex-wrap: nowrap;
  user-select: none;
  overflow-x: auto;

  .Menu-item {
    padding: 0;
    border: 0;

    a {
      padding: 0.25lh calc(var(--Grid-gutter-size)/2);
      white-space: nowrap;

      &.is-active,
      &:focus ,
      &:hover {
        background-color: transparent;
        border-color: var(--Color-accent);
      }
    }

    /*2nd*/    
    .Menu {
      padding-left: 0;

      position: absolute;
      left: 0;
      top: auto;
      background-color: white;
      color: var(--palette-Black-Primary);
      box-shadow: 1px 1px 1px black;
      min-width: 220px;
      z-index: 100;


      .Menu-item {
        a {
         border: 0; 
         padding: 0.25lh calc(var(--Grid-gutter-size)/2);

         &:not(:last-child){
            &:after {
              content: 'keyboard_arrow_right';
              float: right;
            }
          }
        }
        /*3rd*/
        .Menu {
          position: absolute;
          top: 0;
          left: 100%;
        }
      }
    }
  }
}
/*
.Menu--dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: auto;
  background-color: white;
  color: var(--palette-Black-Primary);
  box-shadow: 1px 1px 1px black;
  min-width: 220px;
  z-index: 100;

  .Menu-item {

    &-link {
    }

    &-link:hover {
    }

    .Menu {
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      min-width: 220px;
      box-shadow: 1px 1px 1px black;
      background-color: white;
      padding-left: 0;
    }

    &:hover > .Menu {
      display: block;
    }
  }

  &.is-active {
    display: block;
  }
}*/