.Menu {
  margin: 0;
  padding: 0;
  list-style: none;

  &-item {
    position: relative;

    &-link {
      padding: 0.5lh calc(var(--Grid-gutter-size)/2);
      display: block;
      text-decoration: none;
      color: inherit;
    }

    .Menu {
      padding-left: var(--Grid-gutter-size);
      .Menu-item {
        .Menu-item-link {
          /*font-size: ms(-1);*/
          padding-top: 0.25lh;
          padding-bottom: 0.25lh;
        }
      }
    }
  }
}

.Menu--inline {
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  user-select: none;

  & > .Menu-item {

    & > a {
      padding-bottom: calc(0.5lh - 2px);

      border-bottom: 2px solid;
      border-color: transparent;
      white-space: nowrap;

      &.is-active,
      &:focus ,
      &:hover {
        background-color: transparent;
        border-color: var(--Color-accent);
      }
    }
  }
}

.Menu--dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: auto;
  background-color: white;
  color: var(--palette-Black-Primary);
  box-shadow: 1px 1px 1px black;
  min-width: 220px;
  z-index: 100;

  .Menu-item {

    &-link {
    }

    &-link:hover {
    }

    .Menu {
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      min-width: 220px;
      box-shadow: 1px 1px 1px black;
      background-color: white;
      padding-left: 0;
    }

    &:hover > .Menu {
      display: block;
    }
  }

  &.is-active {
    display: block;
  }
}