.Section {
  padding: 2lh var(--Grid-gutter-size);
  position: relative;

  &-title {
    @add-mixin modular-font-size 3;

    font-weight: bold;
    margin-bottom: 0.5lh;
  }

  &-subtitle {
    @add-mixin modular-font-size 2;

    font-weight: normal;
    margin-top: 0;
    color: var(--palette-Black-Secondary);
  }

  &-lead {
    @add-mixin modular-font-size 1;

    font-weight: lighter;
  }
}

.Section--overlay {
  color: var(--palette-White-Primary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}
