.Section {
  padding: 2lh var(--Grid-gutter-size);
  position: relative;

  &-inner {
    max-width: 65rem;
    margin: 0 auto;
  }

  &-title {
    @add-mixin modular-font-size 3;

    font-weight: bold;
    margin-bottom: 0.5lh;
  }

  &-subtitle {
    @add-mixin modular-font-size 2;

    font-weight: normal;
    margin-top: 0;
    color: var(--palette-Black-Secondary);
  }

  &-lead {
    @add-mixin modular-font-size 1;

    font-weight: lighter;
  }
}

.Section--overlay {
  padding: 0;
  display: grid;

  .Section-front {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 2lh var(--Grid-gutter-size);
    z-index: 1;
  }

  .Section-back {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
