.Section {
  @include vr($padding: 1 var(--Grid-gutter-size));


  position: relative;

  &-title {
    @include vr($font-size: 3, $margin: 1 0 0.5 0);
    font-weight: 600;
  }

  &-subtitle {
    @include vr($font-size: 2, $margin: 0 0 0.5 0);
    margin-top: 0;
    color: var(--palette-Black-Secondary);
  }

  &-lead {
    @include vr($font-size: 1, $margin: 1 0);
    font-family: var(--serif);
    font-weight: lighter;
  }

  &--hero {
    color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 60vh;
    overflow: hidden;

    .Section-inner {
      position: relative;
      z-index: 200;
    }

    .Section-subtitle {
      color: var(--palette-White-Secondary);
    }

    .Section-text {
      padding: vr(1)rem;
      background-color: color(var(--Color-accent--dark) a(90%));
      color: var(--Color-accent--dark-text);
    }
  }

  &--primary {
    background-color: var(--Color-primary);
    color: var(--Color-primary-text);

    .Section-subtitle {
      color: var(--Color-primary-secondary-text);
    }
  }

  &--primaryLight {
    background-color: var(--Color-primary--light);
    color: var(--Color-primary--light-text);
  }

  &--primaryDark {
    background-color: var(--Color-primary--dark);
    color: var(--Color-primary--dark-text);

    .Section-subtitle {
      color: var(--Color-primary--dark-secondary-text);
    }
  }

  &--accent {
    background-color: var(--Color-accent);
    color: var(--Color-accent-text);
  }

  &--accentLight {
    background-color: var(--Color-accent--light);
    color: var(--Color-accent--light-text);
  }

  &--accentDark {
    background-color: var(--Color-accent--dark);
    color: var(--Color-accent--dark-text);
  }

  &--white {
    background-color: white;
  }

  &--grey {
    background-color: var(--palette-Grey-50);
    color: var(--palette-Black-Primary);
    border-color: currentColor;
  }

  &--greyDark {
    background-color: var(--palette-Grey-900);
    color: var(--palette-White-Secondary);
    border-color: currentColor;
  }


}
