@import 'typography';
@import 'form';
@import 'table';


.u-ratio16of9 {
  @util aspect-ratio(16:9);
}
.u-ratio1of1 {
  @util aspect-ratio(1:1);
}

.u-shadow {
  box-shadow: 0px 1px 2px black;
}

.u-noMargin {
  margin: 0;
}

.u-listUnstyled {
  list-style: none;
  padding-left: 0;
}

.u-listInline {
  list-style: none;
  padding-left: 0;
  & > li {
    margin: 0.25lh calc(var(--Grid-gutter-size)/3) 0.25lh 0;
    display: inline-block;
  }
}