table {
  width: 100%;
  background-color: white;
  caption {
  }

  th {
    text-align: left;
  }

  th, td {
    border-color: var(--palette-Black-Dividers);
  }

  thead th {
    color: var(--palette-Black-Primary);
  }

  tbody td,
  tfoot td {
    border-top-width: 1px;
    border-top-style: solid;
    color: var(--palette-Black-Secondary);
  }
}