:root {
  --ms-bases: 1;
  --ms-ratios: 1.2;
  line-height: 1.5;
  font-family: var(--sans-serif);

  --font-size-4: { 
    font-size: ms(4); 
    line-height: 2lh; 
  };
  
  --font-size-3: { 
    font-size: ms(3); 
    line-height: 1lh;
  };
  
  --font-size-2: { 
    font-size: ms(2); 
    line-height: 1lh;
  };

  --font-size-1: { 
    font-size: ms(1); 
    line-height: 1lh;
  };

  --font-size-0: { 
    font-size: ms(0); 
    line-height: 1lh;
  };

  --font-size--1: { 
    font-size: ms(-1); 
    line-height: 1lh;
  };
}


@custom-selector :--heading h1, h2, h3, h4, h5, h6;

a {
  color: var(--Color-accent);
}

:--heading {
  font-family: var(--Heading-font);
  margin: 2lh 0 1lh 0;
}

h1 {
  @apply --font-size-4;  
}

h2 {
  @apply --font-size-3;
}

h3 {
  @apply --font-size-2;
}

h4 {
  @apply --font-size-1;
}

h5 {
  @apply --font-size-0;
}

h6 {
  @apply --font-size--1;
}

p,
blockquote,
ul, ol {
  margin: 1lh 0;
}

figure {
  img {
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: block;
  }
}

small {
  font-size: ms(-1);
}

img {
  max-width: 100%;
}

blockquote {
  border-left: 2px solid var(--Color-accent);
  padding-left: var(--Grid-gutter-size);
  margin-left: 0;
}